[submodule "Warhammer Fantasy/WFRP-4th-Edition-FoundryVTT"]
	path = Warhammer Fantasy/WFRP-4th-Edition-FoundryVTT
	url = https://github.com/CatoThe1stElder/WFRP-4th-Edition-FoundryVTT
[submodule "Pathfinder/foundry-vtt---pathfinder-2e"]
	path = Pathfinder/foundry-vtt---pathfinder-2e
	url = https://gitlab.com/hooking/foundry-vtt---pathfinder-2e/
[submodule "Dungeons & Dragons/dnd5e"]
	path = Dungeons & Dragons/dnd5e
	url = https://gitlab.com/foundrynet/dnd5e
[submodule "https:/gitlab.com/foundrynet/dnd5e/raw/master/system.json"]
	path = https:/gitlab.com/foundrynet/dnd5e/raw/master/system.json
	url = https://gitlab.com/foundrynet/dnd5e
[submodule "https:/gitlab.com/hooking/foundry-vtt---pathfinder-2e/raw/master/system.json"]
	path = https:/gitlab.com/hooking/foundry-vtt---pathfinder-2e/raw/master/system.json
	url = https://gitlab.com/hooking/foundry-vtt---pathfinder-2e/
[submodule "https:/gitlab.com/asacolips-projects/foundry-mods/archmage/raw/master/system.json"]
	path = https:/gitlab.com/asacolips-projects/foundry-mods/archmage/raw/master/system.json
	url = https://gitlab.com/asacolips-projects/foundry-mods/archmage
